<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Text:
        </ion-label>
        <ion-input></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-button>Send API Call</ion-button>
      </ion-item>

      <ion-item>
        <ion-label>
          The text input is ____.
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
